@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #172b4d;
  --secondary-color: #0720f7;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  transition: font-size, 5s;
}

.logo:hover {
  background: -webkit-linear-gradient(plum, #96ceb4, #d8bfd8, tomato);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.connect {
  font-weight: var(--fw-500);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 25px;
}

body {
  background-color: #f2f2f2;
}

.top_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: #fff;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text-port {
  margin: 8px 0;
}

.portfolio_presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  background-color: white;
  background-image: url(./image/header-shapes-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  border-bottom-left-radius: 90px;
  height: 718px;
}

.social-media-icons {
  display: flex;
  gap: 12px;
  width: 127px;
  margin-top: 12px;
}

.social-icon {
  margin-right: 10px;
}

/* works */

.works {
  display: grid;
  padding: 114px 24px;
}

.works .work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 44px 0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 12px;
  transition: 1s ease-in-out;
}

.works .work:hover {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #6070ff;
}

.works .work-title {
  margin: 12px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work ul {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.right-block {
  width: 100%;
  margin: 12px 0;
}

.right-block img {
  width: 100%;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  margin: 12px 0;
}

.work.left-block > img {
  width: 80% !important;
}

.left-block ul li {
  margin-right: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.about-links ul li {
  margin: 0 20px;
  margin-left: 0;
}

.work-stack li:nth-child(1) {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.work-stack li.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 30px;
}

button {
  text-align: center;
}

.left-block .action {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

/* Active */
.left-block .action button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

/* Hover */
.left-block .action button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Focused */
.left-block .action button:focus {
  background: #2230d2;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Disabled */
.left-block .action button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.tags {
  margin: 12px 0;
}

.tags .tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
}

.tags .tag:first-child {
  margin-left: 0;
}

.tags .ruby {
  display: none;
}

.contact-section p {
  color: #ebebff;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  vertical-align: top;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.about-section .button {
  padding: 10px;
  margin: 20px 0 0 0;
  border: 1px solid #396df2;
  color: #3268f1;
  background-color: white;
  border-radius: 5px;
}

.about-section .button span {
  padding: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.about-section .button:hover {
  background-color: #6070ff;
  color: #fff;
}

.about-section .button:focus {
  background-color: #2230d2;
  color: #fff;
}

.about-section {
  background-color: white;
  padding: 8em 1.5em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 5em;
}

.about-section h2 {
  font-size: 2.8em;
  color: #172b4d;
  line-height: 1.2em;
}

.about-section .about-description {
  margin: 1em 0;
  color: #344563;
  font-weight: 400;
}

.about-section .social-media-icons {
  margin-top: 1.3em;
}

.about-list {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-li {
  display: flex;
  justify-content: space-between;
}

.skill-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.language-list {
  display: flex;
  flex-direction: column;
}

.language {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.language-name {
  margin-left: 16px;
}

.language-img {
  margin-left: 12px;
}

.hr-skill-li {
  border-bottom: 1px solid #dfe1e6;
}

/* contact */
.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #3b4eff;
  align-items: center;
  padding: 6.4375rem 1.5rem 0 1.5rem;
  border-top-left-radius: 90px;
  background-image: url(image/contactshapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 62% 96%;
  height: 779px;
}

footer .footer-info h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.footer-info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 0;
}

footer form input,
textarea {
  display: block;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin-top: 18px;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
}

.form-submission-error {
  margin: 10px 0;
}

.error {
  color: #e9bbba;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

.contact-button {
  width: 162px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-align: center;
}

/* Hover */
.contact-button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}

/* Focused */
.contact-button:focus {
  background: #2230d2;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Disabled */
.contact-button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

@media (max-width: 768px) {
  .desktopmenu {
    display: none;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: blue;
    opacity: 0.9;
    padding: 40px 0 0 20px;
  }

  .desktopmenu li a {
    display: inline-block;
    padding: 4px;
    font-size: 34px;
    color: white;
    font-weight: var(--fw-600);
    margin: 10px 0 0;
  }

  .open-menu {
    display: block;
    top: 50px;
    right: 20px;
    color: #6070ff;
    margin-right: 5px;
    font-size: 20px;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: white;
  }

  .blur {
    filter: blur(4.5px);
  }

  .desk1 {
    display: none;
  }

  .desk2 {
    display: none;
  }

  .desk3 {
    display: none;
  }

  .desk4 {
    display: none;
  }
}

@media (min-width: 768px) {
  .project .pimage {
    display: none;
  }

  .top_header {
    width: 100%;
    position: fixed;
    background-color: #fffff6;
    padding-top: 0;
    padding-bottom: 5px;
  }

  .logo {
    margin-left: 150px;
  }

  .right_side {
    display: none;
  }

  .open-menu {
    display: none;
  }

  .desktopmenu {
    color: #e8eafa;
    display: flex;
    font-size: 15px;
    line-height: 20px 89%;
    vertical-align: center;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    padding-right: 100px;
    transition: 0.7s ease;
  }

  .desktopmenu:hover {
    color: red;
  }

  .close-menu {
    display: none;
  }

  .portfolio_presentation {
    background-image: url(image/Header2x.png);
    padding-left: 260px;
    background-color: #fff;
    background-size: contain;
    height: 946px;
  }

  .title {
    margin-top: 100px;
    letter-spacing: 0.3px;
    line-height: 60px;
    text-align: left;
  }

  .text-port {
    font-size: 20px;
    line-height: 28px;
    align-items: left;
    vertical-align: top;
    height: 98px;
    width: 78%;
  }

  .connect {
    line-height: 24px;
    align-items: left;
    vertical-align: top;
    margin-right: 100px;
    padding-top: 12px;
  }

  .social-media-icons {
    height: 19.99px;
    left: 260px;
    align-items: left;
    margin-left: 0;
  }

  .works {
    display: grid;
    padding: 114px 24px;
  }

  .works .work {
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 44px auto;
    border-radius: 24px;
    padding: 12px;
  }

  .works .work-title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work ul {
    display: flex;
  }

  .right-block {
    width: 544px;
    border-radius: 8px;
    padding: 12px;
  }

  .right-block img {
    width: 100%;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 544px;
    margin: 12px 0;
  }

  .tags .ruby {
    display: block;
  }

  .left-block ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .about-links ul li {
    margin: 0 20px;
    margin-left: 0;
  }

  .work-stack li:nth-child(1) {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .right-block-one {
    order: 1;
  }

  .left-block-one {
    order: 2;
  }

  .right-block-one-2 {
    order: 2;
  }

  .left-block-one-2 {
    order: 1;
  }

  .left-block .action {
    width: 295px;
    height: 72px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 12px 0;
  }

  .about-section {
    padding-left: 140px;
    padding-right: 140px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .about-text {
    width: 60%;
    background-color: white;
  }

  .about-text h2 {
    font-size: 40px;
    line-height: 52px;
    padding-top: 0;
  }

  .about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about-section .connect {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #4b5399;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 100;
  }

  .about-section .social-media-icons {
    margin-bottom: 0;
    margin-left: 0%;
  }

  .about-list {
    margin-left: 24px;
    margin-right: 24px;
    width: 684px;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .skill-li {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .skill-name {
    color: #344563;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .language-list {
    display: flex;
    flex-direction: row;
  }

  .language {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
    align-items: flex-start;
    height: 120px;
    width: 122px;
    justify-content: space-around;
  }

  .language-name {
    margin-left: 16px;
  }

  .hr {
    border-bottom: 1px solid #dfe1e6;
  }

  .footer-section {
    display: flex;
    align-items: center;
    background-image: url(image/contact-desktopbackground.svg);
    margin-top: 120px;
    background-size: 97%;
    width: 100%;
    height: 846px;
  }

  footer {
    width: 801px;
    margin: auto;
    text-align: center;
  }

  .footer-info {
    width: 569px;
    margin: auto;
  }

  .contact-button {
    margin-top: 0;
  }

  footer form input,
  textarea {
    width: 447px;
    margin: 27px auto;
    border-radius: 2px;
  }

  /* Animations And Transitions */
  button {
    transition: background-color 2s;
    cursor: pointer;
  }

  button:hover {
    background-color: #396df2;
  }

  .footer-info-text {
    transition: transform 3s;
  }

  .footer-info-text:hover {
    transform: translate(25px);
  }

  .right-block img:hover {
    cursor: pointer;
    transition: 1s ease-in-out;
    transform: scale(1.04);
  }
}
