@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #172b4d;
  --secondary-color: #0720f7;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  transition: font-size, 5s;
}

.logo:hover {
  background: -webkit-linear-gradient(plum, #96ceb4, #d8bfd8, tomato);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.connect {
  font-weight: var(--fw-500);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 25px;
}

body {
  background-color: #f2f2f2;
}

.top_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: #fff;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text-port {
  margin: 8px 0;
}

.portfolio_presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  background-color: white;
  background-image: url(./image/header-shapes-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  border-bottom-left-radius: 90px;
  height: 718px;
}

.social-media-icons {
  display: flex;
  gap: 12px;
  width: 127px;
  margin-top: 12px;
}

.social-icon {
  margin-right: 10px;
}

.works-section {
  padding: 8em 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
}

main .project {
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 1em;
  border: 1px solid #dfe1e6;
}

.project .project-img {
  align-items: center;
}

.project .project-img img {
  width: 100%;
}

.project .project-content h3 {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  list-style: 44px;
}

.project .project-content .project-content-list {
  display: flex;
  justify-content: left;
  align-items: center;
}

.project .project-content .project-content-list .active {
  color: #344563;
}

.project .project-content .project-content-list li {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  color: #474e59;
}

.contact-section p {
  color: #ebebff;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  vertical-align: top;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.project .project-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin: 20px 0 20px 0;
}

.project .project-content .project-content-list li a {
  padding: 10px 10px 10px 0;
}

.project .project-content .project-language {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project .project-content .project-language li {
  color: #3b4eff;
  background-color: #ebebff;
  border-radius: 10px;
  font-size: 13px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.project .project-content .project-language li a {
  padding: 20px;
  text-align: center;
}

.button {
  padding: 10px;
  margin: 20px 0 0 0;
  border: 1px solid #396df2;
  color: #3268f1;
  background-color: white;
  border-radius: 5px;
}

.button span {
  padding: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button:focus {
  background-color: #2230d2;
  color: #fff;
}

.project .project-content .button:disabled {
  color: #5e6c84;
  background-color: #fff;
  border-color: #737c8b;
}

.project .project-content .button:visited {
  color: #6070ff;
}

.about-section {
  background-color: white;
  padding: 8em 1.5em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 5em;
}

.about-section h2 {
  font-size: 2.8em;
  color: #172b4d;
  line-height: 1.2em;
}

.about-section .about-description {
  margin: 1em 0;
  color: #344563;
  font-weight: 400;
}

.about-section .social-media-icons {
  margin-top: 1.3em;
}

.about-list {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-li {
  display: flex;
  justify-content: space-between;
}

.skill-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.language-list {
  display: flex;
  flex-direction: column;
}

.language {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.language-name {
  margin-left: 16px;
}

.language-img {
  margin-left: 12px;
}

.hr-skill-li {
  border-bottom: 1px solid #dfe1e6;
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-color: #3b4eff;
  align-items: center;
  padding: 6.4375rem 1.5rem 0 1.5rem;
  border-top-left-radius: 90px;
  background-image: url(image/contactshapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 62% 96%;
  height: 779px;
}

.contact-section .header-primary-text {
  text-align: center;
  color: #ebebff;
  font-weight: 700 bold;
  font-size: 40px;
}

.contact-section .para-primary-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  margin-bottom: 2.6875rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.contact-form label {
  display: flex;
  width: 100%;
}

.contact-form label input::placeholder {
  font-size: 1.0625rem;
  color: #172b4d;
  line-height: 1.25rem;
  font-weight: 400;
}

.contact-form label textarea::placeholder {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #b3bac5;
}

.contact-form label textarea {
  height: 10.625rem;
}

.contact-form label input,
.contact-form label textarea {
  width: 100%;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
  background: #fff;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-form div {
  margin: 0.625rem 0 2rem 0;
}

.contact-button {
  width: 140px;
  padding: 10px;
  margin: 20px 0 0 0;
  border: 1px solid #396df2;
  color: #3268f1;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .desktopmenu {
    display: none;
  }

  .desk1 {
    display: none;
  }

  .desk2 {
    display: none;
  }

  .desk3 {
    display: none;
  }

  .desk4 {
    display: none;
  }
}

@media (min-width: 768px) {
  .project .pimage {
    display: none;
  }

  .top_header {
    width: 100%;
    position: fixed;
    background-color: #fffff6;
    padding-top: 0;
    padding-bottom: 5px;
  }

  .logo {
    margin-left: 150px;
  }

  .right_side {
    display: none;
  }

  .desktopmenu {
    color: #344563;
    display: flex;
    font-size: 15px;
    line-height: 20px 89%;
    vertical-align: center;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    padding-right: 100px;
  }

  .portfolio_presentation {
    background-image: url(image/Header2x.png);
    padding-left: 260px;
    background-color: #fff;
    background-size: contain;
    height: 946px;
  }

  .title {
    margin-top: 100px;
    letter-spacing: 0.3px;
    line-height: 60px;
    text-align: left;
  }

  .text-port {
    font-size: 20px;
    line-height: 28px;
    align-items: left;
    vertical-align: top;
    height: 98px;
  }

  .connect {
    line-height: 24px;
    align-items: left;
    vertical-align: top;
    margin-right: 100px;
    padding-top: 12px;
  }

  .social-media-icons {
    height: 19.99px;
    left: 260px;
    align-items: left;
    margin-left: 0;
  }

  .works-section {
    align-items: center;
  }

  .project {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: center;
    border-radius: 24px;
    border: blue;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    background-color: #e5e5e5;
  }

  .project:nth-child(even) > .project-content {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .project:nth-child(even) > .project-img {
    grid-column-start: 2;
  }

  .about-section {
    padding-left: 140px;
    padding-right: 140px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .about-text {
    width: 60%;
    background-color: white;
  }

  .about-text h2 {
    font-size: 40px;
    line-height: 52px;
    padding-top: 0;
  }

  .about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about-section .connect {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #4b5399;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 100;
  }

  .about-section .social-media-icons {
    margin-bottom: 0;
    margin-left: 0%;
  }

  .about-list {
    margin-left: 24px;
    margin-right: 24px;
    width: 684px;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .skill-li {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .skill-name {
    color: #344563;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .language-list {
    display: flex;
    flex-direction: row;
  }

  .language {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
    align-items: flex-start;
    height: 120px;
    width: 122px;
    justify-content: space-around;
  }

  .language-name {
    margin-left: 16px;
  }

  .hr {
    border-bottom: 1px solid #dfe1e6;
  }

  .contact-section {
    display: flex;
    align-items: center;
    background-image: url(/image/contact\ formdesktop2x.png);
    margin-top: 120px;
    background-size: 97%;
    width: 100%;
    height: 846px;
  }

  .contact-section h2,
  .contact-section p {
    max-width: 550px;
  }

  .contact-form {
    max-width: 450px;
  }

  .contact-form label input,
  .contact-form label textarea {
    border-radius: 0;
    outline: none;
  }

  .contact-form div {
    align-self: center;
  }

  .contact-button {
    margin-left: 35%;
  }
}
